# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads temporales
uploads/
tmp/

# Node (para el frontend despues)
node_modules/
.next/
dist/
build/

test_scripts/